<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recruiter Homepage</title>
    <link rel="stylesheet" href="recruiter-homepage.component.css" />
  </head>

  <body>
    <h1>Quản lý bài đăng</h1>
    <table>
      <thead>
        <tr>
          <th>Tiêu đề</th>
          <th>Lương</th>
          <th>Yêu thích</th>
          <th>Cập nhật</th>
          <th>Xóa</th>
          <th>Đăng bài</th>
          <th>DS Ứng viên</th>
        </tr>
      </thead>
      <tbody id="jobTableBody">
        <!-- Dữ liệu sẽ được chèn vào đây từ API -->
      </tbody>
    </table>
    <script src="script.js"></script>
  </body>
</html>
