<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar with Dropdown</title>
    <link rel="stylesheet" href="navbar.component.css" />
  </head>

  <body>
    <nav class="navbar">
      <div class="nav-left">
        <a href="home" class="nav-item">Trang chủ</a>
        <div class="dropdown">
          <button class="nav-item dropbtn">Danh mục ▼</button>
          <div class="dropdown-content">
            <table>
              <tr *ngFor="let i of [0, 1, 2, 3, 4]">
                <td *ngFor="let col of columns">
                  <a
                    *ngIf="col[i]"
                    [routerLink]="'/recruitment/category/' + col[i].id"
                  >
                    {{ col[i].name }}
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <a href="company" class="nav-item">Doanh nghiệp</a>
        <a href="recruitment" class="nav-item">Tin tuyển dụng</a>
        <a href="recruiter" class="nav-item"
          >Trang của nhà tuyển dụng(authen sau sẽ tự động vào)</a
        >
      </div>

      <div class="nav-right">
        <!-- Hiển thị Register và Log In khi chưa đăng nhập -->
        <ng-container *ngIf="!isLoggedIn()">
          <a href="register" class="nav-item">Đăng ký</a>
          <a href="login" class="nav-item">Đăng nhập</a>
        </ng-container>
        <!-- Hiển thị Upload CV và Log Out khi đã đăng nhập -->
        <ng-container *ngIf="isLoggedIn()">
          <a routerLink="/upload-cv" class="nav-item">
            <i class="fas fa-upload"></i> Upload CV
          </a>
          <a href="#" class="nav-item" (click)="logout()">Log Out</a>
        </ng-container>
      </div>
    </nav>
  </body>
</html>
